.navbar{
 background-color: #6CABDD;
}
.navbar-brand{
    padding-left: 5px;
    color:white;
}
#caixa {
    background: rgb(230, 230, 230);
    width: 70%;
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
 background-color: #6CABDD;
 color:white;
 border-radius: 20px;
}
.text{
    text-align: center;
    color:#002A5A;
}
h1{
    color:#7ab2e1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form-control{
    border-radius:20px;
}

#btn{
    border-radius: 20px;
}
